/* line 1, ../sass/main.sass */
body {
  box-sizing: border-box;
  position: relative;
  height: 100%;
}

/* line 6, ../sass/main.sass */
.header .logo {
  height: 60px;
  width: 141px;
  margin: 20px auto;
  background-image: url("../image/logo.svg");
  background-size: 141px auto;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 14, ../sass/main.sass */
.menu {
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: #F8F8F8;
  padding: 0;
  margin: 0;
  text-align: center;
}
/* line 21, ../sass/main.sass */
.menu ul {
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;
}
/* line 26, ../sass/main.sass */
.menu ul li {
  display: inline;
}
/* line 28, ../sass/main.sass */
.menu ul li a {
  display: inline-block;
  padding: 14px 50px;
  font-size: 14px;
  color: #4A4A4A;
  text-align: center;
  text-decoration: none;
}
/* line 35, ../sass/main.sass */
.menu ul li a:hover {
  color: #ffffff;
  background-color: #84E2F0;
  transition: all 0.5s;
  border-radius: 50px;
}

/* line 40, ../sass/main.sass */
.swiper-container {
  margin: 30px 0 0 0;
  width: 900px;
  height: 460px;
  border-radius: 40px;
}

/* line 46, ../sass/main.sass */
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* line 63, ../sass/main.sass */
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #ffffff;
}

/* line 66, ../sass/main.sass */
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #ffffff;
  opacity: 0.2;
}

/* line 73, ../sass/main.sass */
.back_images01 {
  background-image: url("../image/bg01.png");
  background-size: 900px 460px;
}

/* line 76, ../sass/main.sass */
.back_images02 {
  background-image: url("../image/bg02.png");
  background-size: 900px 460px;
}

/* line 79, ../sass/main.sass */
.back_images03 {
  background-image: url("../image/bg03.png");
  background-size: 900px 460px;
}

/* line 82, ../sass/main.sass */
.back_images04 {
  background-image: url("../image/bg04.png");
  background-size: 900px 460px;
}

/* line 85, ../sass/main.sass */
.back_images05 {
  background-image: url("../image/bg05.png");
  background-size: 900px 460px;
}

/* line 88, ../sass/main.sass */
.swiper-pagination-bullet {
  background: #ffffff !important;
  opacity: 0.5 !important;
}

/* line 91, ../sass/main.sass */
.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: #ffffff !important;
}

/* line 94, ../sass/main.sass */
.btnzone {
  padding: 0;
  margin: 0;
  text-align: center;
}
/* line 98, ../sass/main.sass */
.btnzone ul {
  list-style-type: none;
  margin: 30px auto;
  overflow: hidden;
}
/* line 103, ../sass/main.sass */
.btnzone ul li {
  display: inline;
}
/* line 105, ../sass/main.sass */
.btnzone ul li a {
  display: inline-block;
  padding: 30px 20px;
  margin: 0 2%;
  font-size: 14px;
  color: #4A4A4A;
  text-align: center;
  text-decoration: none;
}
/* line 113, ../sass/main.sass */
.btnzone ul li a:hover {
  color: #ffffff;
  background-color: #FF9999;
  transition: all 0.5s;
  border-radius: 50px;
}

/* line 118, ../sass/main.sass */
.copyright {
  margin: 0px auto;
  padding: 15px 0;
  font-size: 10px;
  font-weight: lighter;
  color: #B4B4B4;
  text-align: center;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: #F8F8F8;
}
